<%= render 'layouts/header', obj: 'Say something' %>
<div class="row mb-3 text-left pb-3">
    <div class="row"> 
      <div class="col-md-9 themed-grid-col">
        <div class="border rounded-3">
          <div>
            <div class="alert chatbox">
            <% if @messages %>
              <%= render @messages %>
            <% end %>

            </div> 
              <%= form_with(model: @message, html: {class: "form-control"}, url: message_path) do |f| %>                
              <div class="input-group p-3">
                  <%= f.text_field :body, class: "form-control", placeholder: "Type something..." %>                  
                  <%= f.button do %>
                  <i class="bi bi-send-fill"></i>
                  send
                  <% end %>
                <% end %>
              </div>               
          </div>

        </div>
      
      </div>
      <div class="col-md-3 themed-grid-col">
        <div class="border rounded-3 ">
          <ul class="nav navbar-dark nav-pills flex-column mb-auto navbar-dark bg-dark rounded-3">
            <li class="nav-item">
              <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                Products
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                Customers
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

</div>




