<%= render 'layouts/header', obj: 'Log in / Sign up to continue' %>

<div class="row mb-3 text-left pb-3" style="min-height: 100%">
                    <div class="row" style="height:100%; border: 1ps solid red"> 
                    <div class="col-md-6 themed-grid-col position-relative" style="display: inline-block;">
                        <div class="border rounded-3">
                        <div>
                            <div class="alert ">
                                <%= form_with model: @user, url: signup_path, method: :post, local: true do |f| %>
                                <div class="mb-3">
                                    <!-- <%= f.label :email, class: "form-label" %> -->
                                    <%= f.text_field :username, class: "form-control", placeholder: "Your username" %>
                                </div>
                                <div class="mb-3">
                                    <!-- <%= f.label :email, class: "form-label" %> -->
                                    <%= f.email_field :email, class: "form-control", placeholder: "Your email" %>
                                </div>
                                <div class="mb-3">
                                    <!-- <%= f.label :password, class: "form-label" %> -->
                                    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
                                </div>
                                <div class="mb-0 text-center d-grid gap-2">
                                    <%= f.submit "Log in", class: "btn btn-primary"  %>
                                </div>
                                <% end %>
                            </div> 
                        </div>

                        </div>                    
                    </div>

                    </div>







